#main {
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 28px;
  padding-bottom: 80px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid gainsboro;
  padding-left: 100px;
  padding-right: 100px;
  position: sticky;
  top: 0;
  background-color: white;
}

header a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

body {
  font-family: "Roboto Slab", serif;
  margin: 0;
}

p {
  max-width: 600px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
}

h1 {
  font-weight: 600;
}

.perfil {
  width: 35%;
  object-fit: contain;
  border-radius: 40px;
  position: sticky;
  top: 84px;
}

.container-perfil {
  display: flex;
  align-items: start;
  gap: 80px;
}

.links {
  display: flex;
  gap: 40px;
}

.redes {
  display: flex;
  gap: 20px;
}

.container-curriculo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.pdf {
  width: 80%;
  height: 1200px;
}

.icone {
  font-size: 24px;
}

.icone:hover,
header a:hover {
  opacity: 0.6;
}
